.calendar-date-selector {
    display: flex;
    justify-content: space-between;
    min-width: 800px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    min-width: 800px;
}

.tile {
    width: 100%;
    border: solid 1px black;
    height: 100px;
}

.background {
    color: gray;
}