---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Calendar, { type RawCalendarEvent } from "../../components/calendar";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const events = await getCollection("events");
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            Page under construction 🔨
            <Calendar client:only="react" events={events as RawCalendarEvent[]} />
        </main>
        <Footer />
    </body>
</html>
