---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Calendar from "../../components/calendar";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const events = await getCollection("events");
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <!-- <script define:vars={{ events }}>
            console.log({ events });
            const urlParams = new URLSearchParams(window.location.search);
            const dateParam = urlParams.get('date');
        </script> -->
    </head>
    <body>
        <Header />
        <main>
            Page under construction 🔨
            <Calendar client:only events={events}/>
            <!-- {events.map((event) => <div>{event.data.title}</div>)} -->
        </main>
        <Footer />
    </body>
</html>
