---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Calendar, { type RawCalendarEvent } from "../../components/calendar";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import OpenInNewIcon from '../../assets/icons/external-link.astro'

const events = await getCollection("events");
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <div>
                <a
                    id="calendarDownload"
                    href={`webcal://${Astro.url.host}/events.ics`}
                    download={"27th-colfax-calendar.ics"}
                    target="_blank"
                    >Add to your calendar:
                    <OpenInNewIcon />
                </a>
            </div>
            <Calendar
                client:only="react"
                events={events.map((event) => ({
                    slug: event.slug,
                    title: event.data.title,
                    data: event.data as RawCalendarEvent,
                }))}
            />
        </main>
        <Footer />
    </body>
</html>
