---
import Github from "../assets/icons/github.astro";

const today = new Date();
---

<footer>
	<div class="copyright">
		&copy; {today.getFullYear()} Leyla Becker. <div class="releases">
			<a
				href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1"
				target="_blank"
				rel="license noopener noreferrer"
				style="display:inline-block;"
				>CC BY-NC-SA 4.0<img
					style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
					src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
					alt=""
				/><img
					style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
					src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
					alt=""
				/><img
					style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
					src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"
					alt=""
				/><img
					style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
					src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1"
					alt=""
				/></a
			>
		</div>
	</div>
	<div class="social-links">
		<a
			href="https://github.com/27th-colfax/27th-colfax.github.io"
			target="_blank"
		>
			<span class="sr-only">Blogs GitHub repo</span>
			<Github />
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.copyright {
		display: flex;
		justify-content: center;
	}
	.copyright .releases {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 5px;
	}
	.copyright .releases span {
		display: flex;
		margin: 2.5px;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
