---
import BY from "../assets/icons/by.astro";
import CC from "../assets/icons/cc.astro";
import Github from "../assets/icons/github.astro";
import NC from "../assets/icons/nc.astro";
import SA from "../assets/icons/sa.astro";

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Leyla Becker. <div aria-label="CC BY-NC-SA">
		<CC /><BY /><NC /><SA />
	</div>
	<div class="social-links">
		<a
			href="https://github.com/27th-colfax/27th-colfax.github.io"
			target="_blank"
		>
			<span class="sr-only">Blogs GitHub repo</span>
			<Github />
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
