---
import type { CollectionEntry } from "astro:content";
import EventDate from "../components/EventDate";
import type { RawCalendarEvent } from "../components/calendar";

type Props = CollectionEntry<"events">;

const event = Astro.props;
---

<html lang="en">
    <head> </head>
    <body>
        <EventDate client:only="react" event={event as RawCalendarEvent} />
        {event.data.title}
    </body>
</html>
